{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8"><p></p>
        <h1>Pagina de Micro Snitch Music Player</h1>
        <p>Esperamos que la disfruten...</p>
    </div>
    <div class="col-4">
        <img src="assets/img/micro-snitch.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}